* {
    box-sizing: border-box;
}

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    --hue: var(--neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(146, 247, 15);
    background-image: url(./3.jpg);
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: rgb(84, 158, 243);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: rgb(230, 29, 15);
    border-radius: 5px;
    padding: 5px 10px;
    color: rgb(233, 229, 11);
    outline: none;
    cursor: pointer;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    background-color: green;
    color: white;
}

.btn.wrong {
    background-color: red;
    color: white;
}

.start-btn,
.next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.score {
    font-weight: bold;
    position: fixed;
    top: 32%;
    left: 50%;
    transform: translateX(-50%);
}